/* ************************ colors for dna records ********************** */
.seq_val_A {
  background-color: #ff2424; /*red;*/
}
.seq_val_C {
  background-color: lightgreen;
}
.seq_val_G {
  background-color: #dcdc00; /*yellow;*/
}
.seq_val_T {
  background-color: #11abf5; /*cyan;*/
}
.seq_val_U {
  background-color: #11abf5; /*cyan;*/
}


/* ********************* table borders and styling *************************** */

.seq_val {
  padding: 2px;
/*  padding-bottom: 0px;padding-top: 0px;*/
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
  font-size: 23px;
  font-weight: 200;
}

.seq_table {
  border-spacing: 0px;
  border: 1px solid grey;
  border-bottom: 0px;
}

/* https://www.w3schools.com/css/css_table.asp */

.seq_table th, .seq_table td {
  border-bottom: 1px solid grey;
}


.seq_table tr:nth-child(even) {
  background-color: #d2d2d2;
}

/* *********************** indices at upside ***************************** */
.seq_table .seq_indices td {
  border-right: 1px solid grey;
  font-size: 10px;
  text-align: center;
}

/* *********************** indices for dna records ***************************** */

.seq_table tr:hover td {
  border-bottom: 1px solid black; 
}
.seq_table tr:hover {
  background-color: rgb(96,125,139);
}

/* not used
.seq_val_hilite {
  border-bottom: 1px solid white !important;
}

.seq_val_hilite_focus {
  border-bottom: 1px solid !important;
}*/



/* *********************** other ***************************** */
.seq_msg_err {
  background-color: red;
  color: white;
  border: 1px solid black;
}

.seq_msg_info {
  background-color: cyan;
  border: 1px solid grey;
}